/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  /*  make header span entire width of page  */
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#main-content {
  /*   so the main content does not span entire width of page  */
  margin: 5px 2%;
}

.header {
  overflow: hidden;
  background-color: #cb8fff;
  padding: 20px 10px;
  /*   border-radius: 25px; */
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #b5edff;
  color: black;
  border-radius: 25px;
}

/* .header a.active {
  background-color: #b5edff;
  color: #770fd1;
  border-radius: 25px;
} */

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  /*  links are displayed one on top of another when screen size is 500px or less  */
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: #cb8fff;
}

#footer address {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

input {
  width: 200px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 5px;
  /*   font-family: "Sniglet", cursive; */
  font-size: 1em;
  color: #770fd1;
  border: solid 1px #b5edff;
}

img#home-icon {
  width: 32px;
  height: 32px;
}

.card {
  text-align: center;
  border: #cb8fff solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #b5edff;
}

.drama-photo {
  justify-self: center;
  height: 20rem;
  width: auto;
}

#drama-photo-cards, #actor-photo-cards, #character-photo-cards {
  margin: 0 auto;
}

div.card > p {
  position: relative;
  border: none;
  height: 3rem;
  font-size: 15px;
  justify-self: left;
}